<script type="text/javascript" src="/javascripts/list.js"></script>
<!-- Page heading -->
<div class="page-head">
	<!-- Page heading -->
	<h1 ng-if="item.title" class="title"><span class="grey super-title">{{ item.class }}</span> {{ item.title }}</h1>
	<div class="clearfix"></div>

</div>
<!-- Page heading ends -->

<!-- Matter -->

<div class="matter bundle-page">
	<ul ng-show="class.relations" class="nav nav-tabs" ng-if="!create">
			<li ><a href="/#/{{item.class}}/edit/{{item.id}}/">General</a></li>
			
			<li ng-class="{active: link.foreign == relation}" class="sub-menu-item" ng-repeat="link in class.relations">
				<a class="sub-menu-link" ng-click="related()">{{link.label}}</a>
			</li>
		</ul>
	<a ng-click="showRelatedClass = ! showRelatedClass" class="pull-right"><i class="icon-plus"></i> Add {{item.related_class_label}}</a>
	<div class="row-fluid">

		<h2>Related {{item.related_class_label}}</h2>
		<div id="list-grid" ng-include='"views/list_grid.html"' ng-controller='RelatedItemsCtrl' ng-init="actions='many_to_many_items_list';"></div>

	</div>
	<div class="row-fluid" ng-show="showRelatedClass">
		<h2>Add {{item.related_class_label}} to {{ item.title }}</h2>

		<div id="list-grid" ng-include='"views/list_grid.html"' ng-controller='RelatedClassCtrl' ng-init="actions='many_to_many_list';"></div>

	</div>
</div>