<script type="text/javascript" src="/javascripts/list.js"></script>
<!-- Page heading -->
<div class="page-head">
	<!-- Page heading -->
	<h1 ng-if="item.title" class="title"><span class="grey super-title">{{ item.class }}</span> {{ item.title }}</h1>
	<div class="clearfix"></div>

</div>
<!-- Page heading ends -->

<div class="matter bundle-page">
	<ul ng-show="class.relations" class="nav nav-tabs">
			<li ><a href="/#/{{item_info.class}}/edit/{{item_info.id}}/">General</a></li>
			
			<li ng-class="{active: link.foreign == relation}" class="sub-menu-item" ng-repeat="link in class.relations">
				<a class="sub-menu-link" ng-click="related()">{{link.label}}</a>
			</li>
		</ul>
	<a ng-click="create()" class="pull-right"><i class="icon-plus"></i> New {{item_info.related_class_label}}</a>
	<div class="row-fluid">

		<h2>Related {{item_info.related_class_label}}</h2>
		<div id="list-grid" ng-include='"views/list_grid.html"' ng-controller='RelatedItemsCtrl' ng-init="actions='has_many_items_list';"></div>

	</div>	
</div>