<script type="text/javascript" src="/javascripts/list.js"></script>
<!-- Page heading -->
<div class="page-head">
	<!-- Page heading -->
	<h1 ng-if="item_info.title" class="title"><a href="#{{item_info.class}}/list" class="grey super-title">{{ item_info.class_label }}</a> {{ item_info.title }}</h1>
	<div class="clearfix"></div>

</div>
<!-- Page heading ends -->

<div class="matter bundle-page">
	<ul ng-show="class.relations" class="nav nav-tabs">
			<li ><a href="#/{{item_info.class}}/edit/{{item_info.id}}/">General</a></li>
			
			<li ng-if="link.type != 'belongs_to'" ng-class="{active: link.name == relation}" class="sub-menu-item" ng-repeat="link in class.relations">
				<a class="sub-menu-link" href="#/{{item_info.class}}/{{item_info.id}}/{{link.name}}/{{link.type}}">{{link.label}}</a>
			</li>
		</ul>
	<div ng-if="!item_info.class" ng-include="'views/loading.html'"></div>
	

	<div ng-show="item_info.class">
		<a ng-click="create()" class="pull-right"><i class="glyphicon glyphicon-plus"></i> New {{item_info.related_class_label}}</a>
		<div class="row-fluid">
	
			<h2>Related {{item_info.related_class_label}}</h2>
			<div id="list-grid" ng-include='"views/list_grid.html"'  ng-init="actions='has_many_items_list';"></div>
	
		</div>	
	</div>
</div>
