<div ng-show="schema.ready">
	<h1>You are all set!</h1>
	<p>You can start using table editor by choosing model on the left</p>
</div>

<div ng-show="!schema.ready">
	<h1>Configuration</h1>
	<div ng-class="{'alert-success': schema.return, 'alert-danger': !schema.return}" class="alert">
		<h2>Application</h2>
		<p ng-show="schema.return">Application is running.</p>
		<p ng-show="!schema.return">Application is not responding.</p>
	</div>
	<div ng-class="{'alert-success': schema.db_info, 'alert-danger': schema.return && !schema.db_info}" class="alert">
		<h2>Database configuration</h2>
		<p ng-show="schema.db_info">Configuration exists.</p>
		<div ng-show="!schema.db_info">
			<form>
				<fieldset>
			   
			   <div class="form-group">
				   <label>Database Type</label>
	 				<select class="form-control" name="driver" ng-model="db.driver">
	 					<option ng-repeat="driver in schema.db_drivers" value="{{ driver }}">{{ driver }}</option>
	 				</select>
			   </div>

			   <div class="form-group">
			   <label>DB Name</label>
 				<input class="form-control" type="text" name="dbname" ng-model="db.dbname"/>
 				</div>

			   <div class="form-group">
				<label>Username</label>
				<input class="form-control" type="text" name="user" ng-model="db.user"/>
				</div>

			   <div class="form-group">
				<label>Password</label>
				<input class="form-control" name="password" type="password" ng-model="db.pass"/>
				</div>

			   <div class="form-group">
				<label>Schema class</label>
				<input class="form-control" type="text" name="schema_class" ng-model="db.schema_class"/>
				<span class="help-block">Optional. If you don't specify existing DBIx schema class one will be generated for you.</span>
				</div>

			   <div class="form-group">
				<label>DSN suffix</label>
				<input class="form-control" type="text" name="dsn_suffix" ng-model="db.dsn_suffix"/>
				<span class="help-block">Optional. Extra options for DB connection. For example "host=246.184.264.112;port=3350"</span>
				</div>

			   <div class="form-group">
			   <button class="btn btn-default" type="submit" ng-click="submit_config()">Submit</button>
			   </div>
			  </fieldset>
				
				
			</form>
		</div>
	</div>
	<div ng-class="{'alert-success': schema.return && !schema.db_connection_error, 'alert-danger': schema.db_connection_error}" class="alert">
		<h2>Connection to DB</h2>
		<p ng-show="schema.db_connection_error">{{schema.db_connection_error}}</p>
		<div ng-show="schema.return && !schema.db_connection_error">
		<p>Connected successfully to <strong>{{schema.db_info.driver}}</strong> database named <strong>{{schema.db_info.dbname}}</strong> with user <strong>{{schema.db_info.user}}</strong>!</p>
	
		</div>
	</div>
	<div ng-class="{'alert-success': schema.schema, 'alert-danger': schema.schema_error}" class="alert">
		<h2>DBIx Schema</h2>
		<p ng-show="schema.schema_error">{{schema.schema_error}}</p>
		<p ng-show="schema.make_schema"><i class="glyphicon glyphicon-refresh a"></i> DBIx Schema is being created. This could take a while, depending on connection speed and DB size</p>
		<p ng-show="schema.schema_created"><i class="glyphicon glyphicon-ok"></i> DBIx Schema has just been created! Please restart dancer.</p>
		<p ng-show="schema.schema">
		Using <strong>{{schema.db_info.schema_class}}</strong>.
		
		</p>
	</div>
</div>
