<script type="text/javascript" src="/javascripts/list.js"></script>
<!-- Page heading -->
<div class="page-head">
	<!-- Page heading -->
	<h2 class="pull-left title" style="text-transform: capitalize">
		Related items
	</h2>

	<!-- Breadcrumb -->
	<div class="bread-crumb pull-right">
		<a href="index.html"><i class="icon-home"></i> Home</a>
		<!-- Divider -->
		<span class="divider">/</span> <a href="list" class="bread-current">Object</a> <span class="divider">/</span> <span class="bread-current title">Related</span>
	</div>

	<div class="clearfix"></div>

</div>
<!-- Page heading ends -->

<!-- Matter -->

<div class="matter bundle-page">
	<div class="container-fluid">

		<ul class="nav nav-tabs">
			<li><a class="link_id" href="../../">General</a></li>
			<li class="active"><a href="#"><span class="class">Active</span>s</a></li>
		</ul>
		<div class="row-fluid">
			
			<div id="list-grid" class="span12 grid-container grid-related-all-url"></div>

		</div>
		<h2>Items</h2>
		<div class="row-fluid">
			
			<div id="related-list-grid" class="span12 grid-container grid-related-items-url"></div>

		</div>
	</div>
</div>