<script type="text/javascript" src="/javascripts/list.js"></script>
<!-- Page heading -->
<div class="page-head">
	<!-- Page heading -->
	<h2 style="text-transform: capitalize">
		<span class="class">Product</span>s
	</h2>

	<!-- Breadcrumb -->
	<div>
		<a href="index.html"><i class="icon-home"></i> Home</a>
		<!-- Divider -->
		<span class="divider">/</span> <span class="bread-current"><span class="class">Product</span>s</> 
	</div>

	<div class="clearfix"></div>

</div>
<!-- Page heading ends -->



<!-- Matter -->

<div class="matter">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8">
				<a class="btn btn-primary" href="add">Add <span class="class">product</span></a>

			</div>
		</div>

		<div class="row-fluid">

			<div id="list-grid" class="span12 grid-container grid-url">

			</div>
		</div>
	</div>
</div>
<!-- Matter ends -->
