header {
	background: #428bca;
	color: white;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
	height: 50px;
	padding: 0px 20px;
	box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.40);
}

header a, header a:hover {
	color: white;
}

#container {
	padding: 0px;
}

#main h1 {
	margin: 0px 0px 20px 0px;
}


#site-title {
	font-size: 34px;
	color: white;
	text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.80);
}

#site-title:hover {
	text-decoration: none;
}

#login-box {
	padding: 15px 15px;
}

.grey {
	color: #CCC;
}

a[ng-click] {
cursor: pointer;
}

.super-title {
	font-size: 50%;
	display: block;
	line-height: initial;
}

.selected, .selected a, .active, .active a {
	font-weight: bold;
}


.pagination li.active a {
	background-color: dimgrey;
	border-color: dimgrey;
	color: white;
}

.leftbar-filters ul {
	margin: 0px 10px 10px 10px;
list-style: none;
}

.leftbar-filters input[type=text] {
	width: 180px;
}

.leftbar-filters #slider-range {
	width: 90%;
	margin: 0 auto;
}

.leftbar-widget .remove-label {
	margin-left: 5px;
}

.leftbar-filters  .month {
	width: 26px;
	display: inline-block;
	text-align: center;
	background: whitesmoke;
	padding: 2px;
	margin: 2px;
}

.leftbar-widget {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	margin: 10px;
}

.leftbar-widget form {
	margin: 0;
}

.product-bundle-page #search * {
	display: inline;
}

.leftbar-filters .search-widget {
	display: none;
}

.alert-box ul {
	margin-bottom: 0;
	list-style: none;
}


.column-search input, .column-search select {
	width: 100%;
}
.column-search input[type="checkbox"] {
	width: initial;
}

.table thead .labels {
	background: dimgrey;
	border: dimgrey;
	color: white;
}

.table thead .labels a {
	color: white;
}


.table tbody {
	background: white;
}

.grid table .object-table-value {
	word-break: break-all;
}

.grid table .field {
	word-wrap: break-word;
}

.actions {
	word-break: normal;
}

.mainbar{
	padding: 20px;
}

.padded { padding: 10px; }

.left-menu {
	min-width: 130px;
}

.left-menu li > a {
	padding: 2px 10px;
}

.glyphicon-refresh-animate {
	animation-name: rotateThis;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: rotateThisC;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@keyframes rotateThis {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}
@-webkit-keyframes rotateThisC {
	from { -webkit-transform: scale( 1 ) rotate( 0deg );   }
	to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}

.loading-box {
	text-align: center;
	vertical-align: middle;
	padding: 50% 10px;
}

.loading-box > div {
	display: inline;
}