<!-- Page heading -->
<div class="page-head">
	<!-- Page heading -->
	<h2 class="title">New {{ data.class }}</h2>
	<!-- Breadcrumb -->
	<div>
		<a href="/"><i class="icon-home"></i> Home</a>
		<!-- Divider -->
		<span class="crumb">
			<span class="divider">/</span> <a class="bread-current class link">Objects</a>
		</span>
	</div>

	<div class="clearfix"></div>

</div>
<!-- Page heading ends -->

<!-- Matter -->
<div class="matter">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="alert-box span12"></div>
		</div>
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">General</a></li>
			<li class="sub-menu-item"><a class="sub-menu-link" href="#">Categories</a></li>
		</ul>
		<div class="row-fluid">
			<div class="span12">
				<form name="form" method="post" enctype="multipart/form-data" class="form-horizontal form" novalidate>
					<fieldset>


						<!-- Form Name -->
						<div class="messages"></div>

						<input name="pk" type="hidden" class="pk" />


						<!-- Text input-->
						<div class="control-group form-field" ng-repeat="field in data.fields">
							<label class="control-label ">{{ field.label }}</label>
							<div class="controls">
							
			
								<div class="text_field" ng-if="field.field_type == 'text_field'">
									<input class="form-control" ng-required="field.is_nullable == 0" ng-model="item[field.name]" type="text" >
								</div>

								<div ng-if="field.field_type == 'text_area'" >
									<textarea class="form-control" rows="10" cols="30" ng-model="item[field.name]">
									</textarea>
								</div>
								
								<div ng-if="field.field_type == 'dropdown'">
									<select class="form-control" id="media_format" ng-model="item[field.name]">
										<option class="option input-dropdown"></option>
									</select>
								</div>
								
								<div ng-if="field.field_type == 'checkbox'" >
									<input class="form-control" type="checkbox" ng-model="item[field.name]"/>										
								</div>
							</div>
						</div>

						
						<div class="control-group">
							<div class="controls">
								<button ng-disabled="form.$invalid || isUnchanged(item[field.name])" ng-click="save()" class="btn btn-success pull-right">Save</button>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>
		
	</div>
</div>
