
	<div class="grid widget wviolet">

		<div class="widget-head">
			<div class="pull-left">
				<span class="table-title">{{data.grid_title}}</span>
			</div>
			<div class="widget-icons pull-right">
				<a href="#" class="btn btn-primary">{{user.name}} Select fields</a> <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> <a href="#" class="wclose"><i class="icon-remove"></i></a>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="widget-content">

			<form class="form-search" action="/search" style="margin: 0px">
				<table class="table  table-bordered ">
					<thead>
						<tr>
							<th class="field" ng-repeat="field in data.field_list"><a href="sort/{{field.name}}" class="field-label">{{field.label}}</a></th>
							<th></th>
						</tr>
						<tr>
							<th class="column-search" ng-repeat="field in data.field_list">
								<div class="field-search">
									<div class="text_field" ng-show="field.text_field">
										<input class="input input-textfield" ng-model="query" placeholder="" type="text">
									</div>

									<div class="text_area" ng-show="field.text_area">
										<textarea class="input input-textfield" rows="10" cols="30"></textarea>
									</div>

									<div class="dropdown" ng-show="field.dropdown">
										<select class="input" id="media_format" name="options">
											<option class="option input-dropdown"></option>
										</select>
									</div>

									<div class="checkbox" ng-show="field.checkbox">
										<input class="input input-checkbox input-textfield" type="checkbox" />
									</div>
								</div>
							</th>
							<th><input type="submit" value="Filter" /></th>
						</tr>
					</thead>
					<tbody>

						<tr class="object-table-row" ng-repeat="row in data.rows">
							<td class="object-table-value" ng-repeat="field in row.row">{{ field.value }}</td>
							<td class="actions"><a class="action btn-mini btn-primary "></a></td>
						</tr>
					</tbody>
				</table>
			</form>

		</div>

		<div class="widget-foot">
			<div class="pagination pagging pull-right">
				<ul>
					<li><a href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
