<span ng-if="view != 'grid' ">
<!-- This is form version -->
	<select 
		name="column" 
		class="form-control" 
		id="media_format" 
		ng-model="item.values[column.name]" 
		ng-required="column.required" 
		ng-readonly="column.readonly || (column.primary_key && !create)" 
		ng-disabled="column.readonly || (column.primary_key && !create)" 
		ng-options="option.value as option.option_label for option in column.options">
		<option></option>
	</select>
	<span ng-include="'views/column/partials/standard_validation.html'"></span>
</span>

<span ng-if="view == 'grid' ">
<!-- This is grid version -->
	<select 
		name="column" 
		class="form-control" 
		id="media_format" 
		ng-model="item.values[column.name]" 
		ng-options="option.value as option.option_label for option in 
			column.is_nullable ?
			[{value: '<notnull>', option_label: 'Not empty'}, {value: '<null>', option_label: 'Empty'}, {value: '', option_label: '-------'}].concat(column.options) :
			column.options
			">
		<option></option>
	</select>
	<span ng-include="'views/column/partials/standard_validation.html'"></span>
</span>
