<div ng-if="view != 'grid' ">
	<img ng-src="/api/{{data.class}}/{{column.name}}/image/{{item.values[column.name]}}" style="height: 100px; float:right" />
	<p>{{item.values[column.name]}}</p>
		<div style="margin-bottom: 10px">
			<!-- 
			 input class="form-control" type="file" name="filename" file-model="myFile" ng-model="upload_image_file">
			 -->
			<input type="file" ng-file-select="onFileSelect($files)" >
		</div>
		<!-- 
		<input class="btn btn-default" type="submit" value="Upload" ng-click="uploadImage()">
		 -->
		<button ng-click="upload.abort()">Cancel Upload</button>
	<span ng-include="'views/column/partials/standard_validation.html'"></span>
</div>

<span ng-if="view == 'grid' ">
<!-- This is grid version -->
<input 
	name="column"
	class="form-control"
	ng-required="column.required" 
	ng-readonly="column.readonly || (column.primary_key && !create)" 
	ng-model="item.values[column.name]" 
	maxlength="{{column.size}}"
	type="text" >

</span>