<span ng-if="view != 'grid' ">
	<summernote 
		height="200"
		name="field"
		class="form-control html" 
		rows="10" 
		cols="30" 
		ng-model="item.values[field.name]" 
		ng-required="field.required"
		ng-readonly="field.readonly || (field.primary_key && !create)" 
		maxlength="{{field.size}}"
		>Special HTML!
	</summernote>
	
	<span ng-include="'views/field/partials/standard_validation.html'"></span>
</span>

<span ng-if="view == 'grid' ">
<!-- This is grid version -->
<input 
	name="field"
	class="form-control"
	ng-required="field.required" 
	ng-readonly="field.readonly || (field.primary_key && !create)" 
	ng-model="item.values[field.name]" 
	maxlength="{{field.size}}"
	type="text" >

</span>


